*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(Junior\ NBA.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: white;
    background-position: center;
    
}
header{
    display: flex;
    justify-content: center;
    color: orange;
    font-size: 45px;
    font-weight: 400;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: #000000b3;
    border-radius: 90px;
    margin-top: 100px;
}
.container{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
    
}
span{
    color: orange;
    font-size: medium;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
.input-field{
    display: flex;
    flex-direction: column;
    height:45px;
    width: 87%;
    border: none;
    outline: none;
    margin-top: 10px;  
    
}
::-webkit-input-placeholder{
    color: black;
}
.submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    background: gray;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 12px;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.submit:hover{
    color: orange;
}
.submit:hover{
    background-color: rgb(101, 109, 112);
}